<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productos en tiempo real</h1>
    <ul id=productList></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const productList = document.getElementById('productList');

        socket.on('products', (products) => {
            console.log('Productos recibidos:', products);
            productList.innerHTML = '';

            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.title} - $${product.price}`;
                productList.appendChild(li);
            });
        });
    </script>
</body>
</html>